data/
cls_task/
experiments/
__pycache__
model/*py

/model/__pycache__/
/utils/__pycache__/
~/.*.pyc
*.swp

!model/model_reg.py
!model/robust_train.py
!model/train.py
!model/open_attack.py

!utils/dataloader_rat.py
!utils/logger.py
!utils/utils.py

!main_org.py
!main_rat.py
!openattack_regression.py

